* {
    margin: 0px;
    padding: 0px;
}
body {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr;
}
header {
    background-color: beige;
}
main {
    align-content:center;
}
footer {
    background-color: cadetblue;
}
main div {
    padding: 1rem;
}
.player-name-label {
    text-align: center;
}
.hand {
    display: flex;
    justify-content: center;
}
.card {
    background-color: gray;
    border: 5px solid gray;
    border-radius: 5px;
    height: 6rem;
    width: 4rem;
    margin: 1rem;
}
.selected-card {
    border: 5px solid yellow;
}
.hidden {
    display: none;
}