* {
    margin: 0px;
    padding: 0px;
}
body {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr;
}
header {
    background-color: beige;
}
main {
    align-content:center;
}
footer {
    background-color: cadetblue;
}
main div {
    padding: 1rem;
}
div.player-hand {
    border: 1px solid black;
}
.form-new-player {
    display: flex;
    justify-content: space-around;

}
.hand {
    display: flex;
    justify-content: center;
}
.hand .card {
    border: 1px solid black;
    background-color:goldenrod;
    border-radius: 5px;
    height: 6rem;
    width: 4rem;
    margin: 1rem;
}
.hidden {
    display: none;
}