* {
    margin: 0px;
    padding: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
}
header {
    background-color: white;
    border-bottom: 1px solid lightgray;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}
main {
    align-content: center;
    flex: auto;
}
main div {
    padding: 0rem;
}
.player-name-label {
    display: none;
    text-align: center;
}
span.material-symbols-outlined {
    font-size: 200%;
}
#instructions-container {
    display: flex;
    justify-content: center;
    align-content: center;
}
#instructions {
    border: 1px solid lightgray;
    width: 33vw;
    min-width: 400px;   /* Handle narrow screens */
    margin: 2rem;
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
}
#instructions #btn-close-container {
    text-align: right;
}
#instructions #btn-close {
    color: black;
}
#instructions h1 {
    margin-bottom: 1rem;
}
#instructions p.subtitle {
    font-weight: bold;
}
#instructions li {
    margin: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
}
#instructions .hand {
    margin-top: 0rem;
    padding: 1rem;
}
#container-draw-discard-piles {
    margin-top: 1rem;
}
.hand {
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.hand-active {
    background-color: whitesmoke;
}
#draw-pile {
    margin-right: 5vw;
}
#discard-pile {
    margin-left: 5vw;
}
.card {
    box-sizing: border-box;
    background-color: lightgray;
    border: 0px solid lightgray;
    border-radius: 0px;
    height: 12vw;
    width: 9vw;
    max-height: 20vh;   /* Handles wide screens */
    max-width: 15vh;    /* Handles wide screens */
    margin: 0.1rem;
    align-content: center;
    text-align: center;
}
.selected-card {
    border: 3px solid black;
}
header a {
    color: black;
}
.hidden {
    display: none !important;
}